# RATINGS PREDICTION

We have a client who has a website where people write different reviews for technical products. 
Now they are adding a new feature to their website i.e. The reviewer will have to add stars(rating) 
as well with the review. The rating is out 5 stars and it only has 5 options available 1 star, 2 stars, 
3 stars, 4 stars, 5 stars. Now they want to predict ratings for the reviews which were written in the 
past and they don’t have a rating. So, we have to build an application which can predict the rating 
by seeing the review.

Data Collection Phase

You have to scrape at least 20000 rows of data. You can scrape more data as well, it’s up to you. 
more the data better the model
In this section you need to scrape the reviews of different laptops, Phones, Headphones, smart 
watches, Professional Cameras, Printers, Monitors, Home theater, Router from different ecommerce websites.
Basically, we need these columns1) reviews of the product.
2) rating of the product.
You can fetch other data as well, if you think data can be useful or can help in the project. It 
completely depends on your imagination or assumption.

Hint:
• Try to fetch data from different websites. If data is from different websites, it will help our 
model to remove the effect of over fitting.
• Try to fetch an equal number of reviews for each rating, for example if you are fetching
10000 reviews then all ratings 1,2,3,4,5 should be 2000. It will balance our data set.
• Convert all the ratings to their round number, as there are only 5 options for rating i.e., 
1,2,3,4,5. If a rating is 4.5 convert it 5.

Model Building Phase

After collecting the data, you need to build a machine learning model. Before model building do 
all data preprocessing steps involving NLP. Try different models with different hyper parameters 
and select the best model.
Follow the complete life cycle of data science. Include all the steps like1. Data Cleaning
2. Exploratory Data Analysis
3. Data Preprocessing
4. Model Building
5. Model Evaluation
6. Selecting the best mode

In [9]:
import requests
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import time

from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service

In [2]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# Flipkart webpage by url : https://www.flipkart.com/
url="https://www.flipkart.com/" 
driver.get(url)
driver.implicitly_wait(5)

# closing login pop-up window
Close_button=driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button') 
Close_button.click()

#Entering “key” in search field where “search for products, brands and more” 
key=['laptops', 'Phones', 'Headphones', 'smart watches', 'Professional Cameras', 'Printers', 'Monitors', 'Hometheater', 'Router']

#Create empty list
urls=[]

for i in key:   
    srchBar = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input") #Locating search bar
    srchBar.clear()
    srchBar.send_keys(i)
    
        
    driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']").click() #clicking on search button
    time.sleep(3)
    page = []
    for i in driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a"):
        page.append(i.get_attribute('href'))
    for i in page[0:7]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
        for i in items:
            urls.append(i.get_attribute('href'))

print(len(urls))

672

In [3]:
flip_url1=pd.DataFrame({'URL':urls})
flip_url1

                                                   URL
0    https://www.flipkart.com/lenovo-ideapad-1-ryze...
1    https://www.flipkart.com/lenovo-ideapad-1-ryze...
2    https://www.flipkart.com/asus-vivobook-15-2022...
3    https://www.flipkart.com/asus-tuf-gaming-f15-c...
4    https://www.flipkart.com/asus-vivobook-15-2022...
..                                                 ...
667  https://www.flipkart.com/lenovo-l-series-21-5-...
668  https://www.flipkart.com/lg-mk430-21-5-inch-fu...
669  https://www.flipkart.com/samsung-32am500-32-in...
670  https://www.flipkart.com/enter-17-3-inch-hd-mo...
671  https://www.flipkart.com/dell-gaming-27-inch-c...

[672 rows x 1 columns]

In [4]:
flip_url1.to_csv('flip_url1.csv')

In [14]:
def scrap():
    U=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']/../div")
    for i in U:
        rating.append(i.text)
        driver.implicitly_wait(1)     
    U=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in U:
        review.append(i.text)
        driver.implicitly_wait(1)            
    U=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in U:
        story.append(i.text)
        driver.implicitly_wait(1)

In [15]:
#Creating empty lits
rating=[]
review=[]
story=[]
#Srapping the data
for a in urls:
    driver.refresh()
    driver.implicitly_wait(3)
    driver.get(a)
    driver.implicitly_wait(3)
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
                   
    # clicking on the all review tab    
    try:
        review_link=driver.find_element(By.XPATH,"//div[@class='_2c2kV-']/following::a")
        for i in review_link:
            link.append(i.get_attribute('href'))
            driver.get(link)
            driver.implicitly_wait(1)
    except:
        pass  
    scrap()
            
    pages = []
    for i in driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a"):
        pages.append(i.get_attribute('href'))
    for i in pages[0:17]:
        driver.get(i)
        time.sleep(1)
        scrap()
        
print(len(rating),len(review),len(story))

5466 5466 5466

In [16]:
print(len(rating),len(review),len(story))

5466 5466 5466

In [17]:
df=pd.DataFrame({'Review':review,'Ratings':rating,'Text':story})
df

,Review,Ratings,Text
0,Nice,3,This is a good laptop and it's charging speed ...
1,Really Nice,4,Cons.\n1.Lite or Dim display colour in 1080p r...
2,Fabulous!,5,Very good product\nPlease all buy this product
3,,,
4,,,
...,...,...,...
5461,,,
5462,,,
5463,,,
5464,,,
5465,Mind-blowing purchase,5,Excellent

In [18]:
# Close window
driver.close()

In [19]:
#Save file to system 
df.to_csv('flipkart_rating1.csv')

# Srcapping from Amazon

In [62]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# Amazon webpage by url : https://www.amazon.in/
url="https://www.amazon.in/" 
driver.get(url)
driver.implicitly_wait(4)

In [33]:
#Entering “key” in search field where “search for products, brands and more” 
key=['laptops', 'Phones', 'Headphones', 'smart watches', 'Professional Cameras', 'Printers', 'Monitors', 'Hometheater', 'Router']

#Create empty list
url2=[]

for i in key:   
    srchBar = driver.find_element(By.XPATH,"//div[@class='nav-search-field ']/input") #Locating search bar
    srchBar.clear()
    srchBar.send_keys(i)
    
    #Click on search button
    driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()
    
    #Scrapping url
    for a in range(0,10):
        for i in driver.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
            url2.append(i.get_attribute('href')) 
        try:
            next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]').click()
        except:
            next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-button"]').click()

In [63]:
len(url2)

594

In [64]:
amezon_url=pd.DataFrame({'URL':url2})
amezon_url

                                                   URL
0    https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1    https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2    https://www.amazon.in/ASUS-15-6-inch-Integrate...
3    https://www.amazon.in/Dell-Inspiron-3511-i3-10...
4    https://www.amazon.in/HP-15-6-inch-Micro-Edge-...
..                                                 ...
589  https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
590  https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
591  https://www.amazon.in/Secureye-Router-WCDMA-Su...
592  https://www.amazon.in/CP-Router-Wireless-300Mb...
593  https://www.amazon.in/Generic-DIR-615-D-Link-W...

[594 rows x 1 columns]

In [65]:
amezon_url.to_csv('amezon_url2.csv')

In [90]:
def scrap1():
    try:
        for i in driver.find_elements(By.XPATH, '//div[@class="a-row"]/a[2]'):
            review.append(i.text)
            driver.implicitly_wait(1)
    except:
        review.append("-")          
    try:
        for i in driver.find_elements(By.XPATH, '//div[@class="a-expander-content reviewText review-text-content a-expander-partial-collapse-content"]/span'):
            story.append(i.text)
            driver.implicitly_wait(1)
    except:
        for i in driver.find_elements(By.XPATH, '//span[@class="a-size-base review-text review-text-content"]'):
            story.append(i.text)
            driver.implicitly_wait(1)
    try:
        for i in driver.find_elements(By.XPATH, '//div[@id="customer_review-R3CBFUJ3KS0UA0"]/div[2]/a[1]'):
            rating.append(i.text)
            driver.implicitly_wait(1)
    except:
         rating.append("-")

In [ ]:
review=[]
story=[]
rating=[]
for a in url2:
    driver.get(a)
    driver.execute_script("window.scrollBy(0,6000)")
    scrap1()
    try:
        all_review=driver.find_element(By.XPATH,'//a[@id="acrCustomerReviewLink"]').click()
    except:
        pass
    scrap1()
    driver.execute_script("window.scrollBy(0,6000)")
    try:
        see_all_review=driver.find_element(By.XPATH,'//a[@class="a-link-emphasis a-text-bold"]').click()
    except:
        pass
    try:
        driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div[1]/div/div[1]/div[5]/div[3]/div/div[11]/span/div/ul/li[2]').click()
        scrap1()
        driver.implicitly_wait(1)
        driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div[1]/div/div[1]/div[5]/div[3]/div/div[12]/span/div/ul/li[2]').click()
        scrap1()
        driver.implicitly_wait(1)
        driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div[1]/div/div[1]/div[5]/div[3]/div/div[13]/span/div/ul/li[2]').click()
        scrap1()
    except:
        pass

In [68]:
print(len(story),len(review),len(rating))

3252 6031 5922

In [69]:
df1=pd.DataFrame({'Review':review[:3252],'Ratings':rating[:3252],'Text':story[:3252]})
df1

,Review,Ratings,Text
0,Need to improve heat reduce system.,,All over is good but too much heated
1,Good,,Highly recommend for homework purpose.
2,Sturdy machine,,Its a very sturdy machine - smooth and fast - ...
3,Value for Money,,Configuration for day to day activity is perfe...
4,Disappointed ( display issue ),,Flickering lines are showing on the display wh...
...,...,...,...
3247,An absolute amazing phone.,,
3248,Value for Money ?,,O produto cumpre o que promete.\nFiquei com me...
3249,"Met the Expectations , doesn't Disappoint. ****",,
3250,Good,,O vendedor atendeu super rápido e o produto ch...
3251,Best,,

In [70]:
df1.to_csv('amezon2.csv')

In [56]:
driver.close

In [1]:
# Kindly note i have tried many times to scrap the data sucessfully.

In [15]:
# Concating all the data set 
data=pd.read_csv('flipkart_rating1.csv' and 'amezon1.csv')
data

,Review,Ratings,Text
0,Overall worthy Laptop,5,I boght this laptop for mainly multitasking an...
1,Durable solid laptop.,NaN,The laptop is good for this price point.\nFirs...
2,Perfect except the battery backup.,5,Lasts 4 hours of lite work and 2x4gb ram has t...
3,Good Value for money Laptop,NaN,Thin Gaming Laptop with good build quality. Go...
4,Excellent laptop,5,Excellent service by Amazon. Good laptop with ...
...,...,...,...
12569,Wonderful,5,best product
12570,Simply awesome,5,Wonderful.and nice product
12571,Classy product,5,This one is absolutely perfect for work produc...
12572,Classy product,5,Awesome 👍\nJust go for it... After lot of rese...
12573,Classy product,5,Best pick for office work like Motion graphics...

In [16]:
data.to_csv('Rating_train_set.csv')

In [ ]:
# kindly note that i have scrap both train data set and test dataset diffrently to check our builded model accuracy