In [1]:
import requests 
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import time

from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service

# Yatra.Com

In [27]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# Yatra.com
url="https://www.yatra.com/" 
driver.get(url)
driver.implicitly_wait(4)

In [29]:
url=[] # Creating Empty list 
#Getting all the urls from all the location 
for i in range(0,1):
    driver.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[2]").click()
    for i in driver.find_elements(By.XPATH,"//a[@class='VueCarousel-slide items']"):
        url.append(i.get_attribute('href'))
    driver.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[3]").click()
    for i in driver.find_elements(By.XPATH,"//a[@class='VueCarousel-slide items']"):
        url.append(i.get_attribute('href'))
    driver.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[4]").click()
    for i in driver.find_elements(By.XPATH,"//a[@class='VueCarousel-slide items']"):
        url.append(i.get_attribute('href'))
    driver.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[5]").click()
    for i in driver.find_elements(By.XPATH,"//a[@class='VueCarousel-slide items']"):
        url.append(i.get_attribute('href'))
    driver.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[6]").click()
    for i in driver.find_elements(By.XPATH,"//a[@class='VueCarousel-slide items']"):
        url.append(i.get_attribute('href'))    
        
    
print(len(url))

100

In [30]:
# Creating Empty List 
name=[]
depart_time=[]
depart_place=[]
arrive_time=[]
arrive_place=[]
duration=[]
no_stop=[]
price=[]

#Scrapping the details
for a in url:
    driver.get(a)
    try:
        for i in driver.find_elements(By.XPATH,"//div[@class='fs-13 airline-name no-pad col-8']/span"):
            name.append(i.text)
    except:
        for i in driver.find_elements(By.XPATH,"//div[@class='full mb-8 fs-13 airline-name']/span"):
            name.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,"//div[@class='fs-15 bold time']/div[1]"):
            depart_time.append(i.text)
    except:
        for i in driver.find_elements(By.XPATH,"//div[@class='timing-det bdr-btm v-aligm-t']/div[1]/div[1]/p[1]"):
            depart_time.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,"//p[1][@class='fs-10 font-lightgrey no-wrap city ellipsis']"):
            depart_place.append(i.text)
    except:                                        
        for i in driver.find_elements(By.XPATH,"//label[1]/div[2]/div[1][@class='grid']/div[1]/p[2]"):
            depart_place.append(i.text)  
    try: 
        for i in driver.find_elements(By.XPATH,"//p[@class='bold fs-15 mb-2 pr time']"):
            arrive_time.append(i.text)
    except:
        for i in driver.find_elements(By.XPATH,"//label[1]/div[2]/div/div[3][@class='i-b col-5 pdd-0 text-left atime']/p[1]"):
            arrive_time.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,"//p[2][@class='fs-10 font-lightgrey no-wrap city ellipsis']"):
            arrive_place.append(i.text)
    except:
        for i in driver.find_elements(By.XPATH,"//label[1]/div[2]/div/div[3][@class='i-b col-5 pdd-0 text-left atime']/p[2]"):
            arrive_place.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,"//div[@class='stop-cont pl-13']/p"):
            duration.append(i.text)
    except:
        for i in driver.find_elements(By.XPATH,"//label[1]/div[3]/div[@class='pl-10 stop-cont']/p[1]"):
            duration.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,"//div[@class='stop-cont pl-13']/div/span"):
            no_stop.append(i.text)
    except:
        for i in driver.find_elements(By.XPATH,"//label[1]/div[3]/div/div[@class=' font-lightgrey fs-11 tipsy i-b']/span"):
            no_stop.append(i.text)
    try:
        for i in driver.find_elements(By.XPATH,"//div[1]/div[4]/div/div[1]/div/label/div/div[2]"):
            price.append(i.text)
    except:
        for i in driver.find_elements(By.XPATH,"//div[2]/div[1]/div[4]/div/div[3]/p"):
            price.append(i.text)

In [31]:
# Checking the length 
print(len(name),len(arrive_time),len(duration),len(no_stop),len(arrive_place),len(depart_place),len(depart_time),len(price))

682 682 682 682 682 682 682 673

In [33]:
# Checking length of all variables
MaxLen=max(len(name),len(arrive_time),len(duration),len(no_stop),len(arrive_place),len(depart_place),len(depart_time),len(price))
MaxLen

682

In [34]:
# Replaceing null values for the price column
price=price+[0]*(MaxLen-len(price))
len(price)

682

In [35]:
# Creating DataFrame
all_flight=pd.DataFrame({'Flight_Name':name,'Departure':depart_time,'Departure_Place':depart_place,'Arrival':arrive_time,'Arrival_Destination':arrive_place,'Total_Stops':no_stop,'Duration':duration,'Price':price})
all_flight

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,Air India,04:55,New Delhi,22:05,Mumbai,1 Stop,17h 10m,"3,850"
1,Go First,16:40,New Delhi,23:25,Mumbai,1 Stop,6h 45m,"3,870"
2,IndiGo,23:40,New Delhi,05:50\n+ 1 day,Mumbai,1 Stop,6h 10m,"4,298"
3,Vistara,21:20,New Delhi,06:15\n+ 1 day,Mumbai,1 Stop,8h 55m,"4,753"
4,Air India,20:00,New Delhi,22:10,Mumbai,Non Stop,2h 10m,"4,817"
...,...,...,...,...,...,...,...,...
677,Air Asia,05:25,Kolkata,16:45,Pune,1 Stop,11h 20m,0
678,Air Asia,15:50,Kolkata,05:00\n+ 1 day,Pune,1 Stop,13h 10m,0
679,Air Asia,08:30,Kolkata,22:35,Pune,1 Stop,14h 05m,0
680,Air Asia,14:40,Kolkata,05:00\n+ 1 day,Pune,1 Stop,14h 20m,0
681,Go First,10:35,Kolkata,13:20,Pune,Non Stop,2h 45m,0

In [36]:
# Save file to your local system 
all_flight.to_csv('all_flight2.csv')

In [37]:
#close driver
driver.close()

# SastaSafar.com

In [39]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# SastaSafar.com
url="https://www.sastasafar.com/results?tid=635a0d1e9d2ac8783e0d3afc" 
driver.get(url)
driver.implicitly_wait(4)

In [47]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
for i in driver.find_elements(By.XPATH,"//span[@class='text-muted d-none d-lg-inline ']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='departure-time base-time']"):
    departure.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time depart']/span[3]"):
    departure_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='arrival-time base-time']"):
    arrival.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time return']/span[3]"):
    arrival_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='bottom']"):
    stop.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='money d-none d-sm-block']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='duration']"):
    duration.append(i.text)
driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
driver.implicitly_wait(2)

In [51]:
# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

99 99 99 99 99 99 99 99

In [52]:
# Creating DataFrame
kolkata_flight=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
kolkata_flight

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,,15:30,,03:15,,1 Stop,11h 45m,₹7082
1,,22:15,,12:40,,1 Stop,14h 25m,₹7082
2,,23:40,,01:35,,Non Stop,01h 55m,₹9209
3,,18:50,,21:00,,Non Stop,02h 10m,₹16769
4,,20:00,,22:05,,Non Stop,02h 05m,₹9734
...,...,...,...,...,...,...,...,...
94,,15:30,,16:55,Kolkata,1 Stop,25h 25m,₹36720
95,,15:30,,09:40,Kolkata,1 Stop,18h 1m,₹37875
96,,18:10,,09:40,Kolkata,2 Stop,15h 30m,₹43090
97,,16:15,,10:40,Kolkata,1 Stop,18h 25m,₹43441
98,,17:35,,09:40,Kolkata,2 Stop,16h 05m,₹49877

In [53]:
# Save file to your local system 
kolkata_flight.to_csv('kolkata_flight.csv')

In [54]:
# Driver close
driver.close()

In [55]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# SastaSafar.com
url="https://www.sastasafar.com/results?tid=635a3c6ef6b4cd9f3609a621" 
driver.get(url)
driver.implicitly_wait(4)

In [59]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
for i in driver.find_elements(By.XPATH,"//span[@class='text-muted d-none d-lg-inline ']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='departure-time base-time']"):
    departure.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time depart']/span[3]"):
    departure_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='arrival-time base-time']"):
    arrival.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time return']/span[3]"):
    arrival_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='bottom']"):
    stop.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='money d-none d-sm-block']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='duration']"):
    duration.append(i.text)
driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
driver.implicitly_wait(2)

In [60]:
# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

147 147 147 147 147 147 147 147

In [61]:
# Creating DataFrame
goa_flight=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
goa_flight

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,Alliance Air,19:30,Mumbai,20:55,Goa,Non Stop,01h 25m,₹5838
1,Spice Jet,15:35,Mumbai,17:05,Goa,Non Stop,01h 30m,₹6362
2,Indigo Air,16:55,Mumbai,18:10,Goa,Non Stop,01h 15m,₹6993
3,Air Asia,04:20,Mumbai,05:30,Goa,Non Stop,01h 10m,₹8674
4,Indigo Air,11:25,Mumbai,12:40,Goa,Non Stop,01h 15m,₹7623
...,...,...,...,...,...,...,...,...
142,Air India,07:20,Mumbai,13:35,Goa,1 Stop,30h 15m,₹32768
143,Air India,07:00,Mumbai,13:35,Goa,1 Stop,06h 35m,₹34262
144,Air India,11:15,Mumbai,13:35,Goa,2 Stop,26h 20m,₹34538
145,Vistara,06:45,Mumbai,21:20,Goa,2 Stop,38h 35m,₹39973
146,Air India,21:05,Mumbai,13:35,Goa,2 Stop,16h 30m,₹69489

In [62]:
# Save file to your local system 
goa_flight.to_csv('goa_flight.csv')

In [63]:
driver.close()

In [64]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# SastaSafar.com
url="https://www.sastasafar.com/results?tid=635a3edd6bf7c496fd099ca1" 
driver.get(url)
driver.implicitly_wait(4)

In [65]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
driver.implicitly_wait(2)    
for i in driver.find_elements(By.XPATH,"//span[@class='text-muted d-none d-lg-inline ']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='departure-time base-time']"):
    departure.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time depart']/span[3]"):
    departure_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='arrival-time base-time']"):
    arrival.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time return']/span[3]"):
    arrival_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='bottom']"):
    stop.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='money d-none d-sm-block']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='duration']"):
    duration.append(i.text)

In [66]:
# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

211 211 211 211 211 211 211 211

In [67]:
# Creating DataFrame
dhl_flight=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
dhl_flight

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,Spice Jet,00:50,Hyderabad,03:15,New Delhi,Non Stop,02h 25m,₹7732
1,Air Asia,15:15,Hyderabad,23:10,New Delhi,1 Stop,07h 55m,₹6445
2,Air Asia,14:30,Hyderabad,23:10,New Delhi,1 Stop,08h 40m,₹6445
3,Air Asia,09:20,Hyderabad,23:10,New Delhi,1 Stop,13h 50m,₹6445
4,Spice Jet,06:10,Hyderabad,08:25,New Delhi,Non Stop,02h 15m,₹7732
...,...,...,...,...,...,...,...,...
206,Vistara,07:10,Hyderabad,19:50,New Delhi,2 Stop,36h 40m,₹29674
207,Vistara,07:10,Hyderabad,21:10,New Delhi,2 Stop,38h 00m,₹30484
208,Air India,22:25,Hyderabad,09:30,New Delhi,2 Stop,11h 05m,₹29986
209,Vistara,07:10,Hyderabad,12:35,New Delhi,2 Stop,29h 25m,₹39304
210,Vistara,07:10,Hyderabad,17:45,New Delhi,2 Stop,34h 35m,₹39304

In [68]:
# Save file to your local system 
dhl_flight.to_csv('dhl_flight.csv')

In [ ]:
driver.close()

In [70]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# SastaSafar.com
url="https://www.sastasafar.com/results?tid=635a416420eb7aac44106bb4" 
driver.get(url)
driver.implicitly_wait(4)

In [72]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
driver.implicitly_wait(2)    
for i in driver.find_elements(By.XPATH,"//span[@class='text-muted d-none d-lg-inline ']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='departure-time base-time']"):
    departure.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time depart']/span[3]"):
    departure_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='arrival-time base-time']"):
    arrival.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='col-field time return']/span[3]"):
    arrival_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='bottom']"):
    stop.append(i.text)
for i in driver.find_elements(By.XPATH,"//span[@class='money d-none d-sm-block']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='duration']"):
    duration.append(i.text)

# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

135 135 135 135 135 135 135 135

In [73]:
# Creating DataFrame
dhl2_flight=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
dhl2_flight

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,Indigo Air,04:15,Singapore,11:25,New Delhi,1 Stop,09h 40m,₹12432
1,Indigo Air,02:45,Singapore,16:55,New Delhi,1 Stop,16h 40m,₹13322
2,Indigo Air,02:45,Singapore,18:55,New Delhi,1 Stop,18h 40m,₹13322
3,Indigo Air,02:45,Singapore,19:50,New Delhi,1 Stop,19h 35m,₹13322
4,Indigo Air,11:00,Singapore,01:45,New Delhi,1 Stop,17h 15m,₹13842
...,...,...,...,...,...,...,...,...
130,Lufthansa,00:25,Singapore,00:10,New Delhi,1 Stop,26h 15m,₹283279
131,Multiple Airlines,23:05,Singapore,22:35,New Delhi,1 Stop,26h 00m,₹360855
132,All Nippon,22:45,Singapore,17:15,New Delhi,1 Stop,21h 00m,₹439261
133,All Nippon,22:20,Singapore,17:15,New Delhi,1 Stop,21h 25m,₹439261
134,Multiple Airlines,22:45,Singapore,17:15,New Delhi,1 Stop,10h 30m,₹531226

In [74]:
# Save file to your local system 
dhl2_flight.to_csv('dhl2_flight.csv')

In [75]:
driver.close()

#  MakeMYTrip.com

In [14]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# MakeMyTrip.com
url="https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-29/10/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng" 
driver.get(url)
driver.implicitly_wait(4)

In [21]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
driver.implicitly_wait(2)    
for i in driver.find_elements(By.XPATH,"//p[@class='boldFont blackText airlineName']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[1]/p[@class='appendBottom2 flightTimeInfo']/span"):
    departure.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[1]/p[@class='blackText']"):
    departure_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[3]/p[@class='appendBottom2 flightTimeInfo']/span[1]"):
    arrival.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[3]/p[@class='blackText']"):
    arrival_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//p[@class='flightsLayoverInfo']"):
    stop.append(i.text)
for i in driver.find_elements(By.XPATH,"//p[@class='blackText fontSize18 blackFont white-space-no-wrap']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='stop-info flexOne']"):
    duration.append(i.text)

# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

27 27 27 27 27 27 27 27

In [22]:
# Creating DataFrame
bang_flight=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
bang_flight

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,SpiceJet,06:05,New Delhi,08:55,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 6,713"
1,Go First,05:45,New Delhi,08:30,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 7,107"
2,Vistara,06:15,New Delhi,09:00,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 7,184"
3,Vistara,08:10,New Delhi,10:50,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 7,184"
4,IndiGo,08:30,New Delhi,16:30,Bengaluru,1 stop via Shirdi,08 h\n1 stop via Shirdi,"₹ 7,487"
5,IndiGo,02:25,New Delhi,05:15,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,499"
6,IndiGo,03:50,New Delhi,06:40,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,499"
7,IndiGo,06:55,New Delhi,09:50,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 7,499"
8,IndiGo,22:55,New Delhi,01:45,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,499"
9,Akasa Air,11:40,New Delhi,14:25,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 7,584"
10,AirAsia,19:10,New Delhi,21:55,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 7,878"
11,IndiGo,06:00,New Delhi,08:35,Bengaluru,Non stop,02 h 35 m\nNon stop,"₹ 7,919"
12,SpiceJet,20:00,New Delhi,22:30,Bengaluru,Non stop,02 h 30 m\nNon stop,"₹ 7,973"
13,Go First,20:45,New Delhi,23:30,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 8,053"
14,Vistara,16:05,New Delhi,18:50,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 8,234"
15,Vistara,19:50,New Delhi,22:40,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 8,234"
16,Vistara,20:40,New Delhi,23:20,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 8,234"
17,IndiGo,05:15,New Delhi,10:15,Bengaluru,1 stop via Nagpur,05 h\n1 stop via Nagpur,"₹ 8,237"
18,IndiGo,06:00,New Delhi,12:10,Bengaluru,1 stop via Bhopal,06 h 10 m\n1 stop via Bhopal,"₹ 8,237"
19,IndiGo,08:20,New Delhi,11:00,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 8,580"
20,IndiGo,20:10,New Delhi,23:00,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 8,580"
21,IndiGo,15:00,New Delhi,21:35,Bengaluru,1 stop via Hyderabad,06 h 35 m\n1 stop via Hyderabad,"₹ 8,986"
22,IndiGo,09:15,New Delhi,11:55,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 9,389"
23,IndiGo,17:15,New Delhi,19:55,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 9,389"
24,Vistara,09:05,New Delhi,11:50,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 9,494"
25,Vistara,14:15,New Delhi,17:05,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 9,494"
26,IndiGo,12:45,New Delhi,19:20,Bengaluru,1 stop via Hyderabad,06 h 35 m\n1 stop via Hyderabad,"₹ 9,736"

In [23]:
# Save file to your local system 
bang_flight.to_csv('bang_flight.csv')

In [24]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
driver.implicitly_wait(2)    
for i in driver.find_elements(By.XPATH,"//p[@class='boldFont blackText airlineName']"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[1]/p[@class='appendBottom2 flightTimeInfo']/span"):
    departure.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[1]/p[@class='blackText']"):
    departure_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[3]/p[@class='appendBottom2 flightTimeInfo']/span[1]"):
    arrival.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[3]/p[@class='blackText']"):
    arrival_place.append(i.text)
for i in driver.find_elements(By.XPATH,"//p[@class='flightsLayoverInfo']"):
    stop.append(i.text)
for i in driver.find_elements(By.XPATH,"//p[@class='blackText fontSize18 blackFont white-space-no-wrap']"):
    price.append(i.text)
for i in driver.find_elements(By.XPATH,"//div[@class='stop-info flexOne']"):
    duration.append(i.text)

# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

45 45 45 45 45 45 45 45

In [25]:

# Creating DataFrame
bang_flight1=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
bang_flight1

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,IndiGo,15:10,New Delhi,00:05,Bengaluru,1 stop via Hyderabad,08 h 55 m\n1 stop via Hyderabad,"₹ 5,988"
1,Go First,05:45,New Delhi,08:35,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,107"
2,Vistara,05:35,New Delhi,08:30,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 7,184"
3,IndiGo,19:45,New Delhi,01:10,Bengaluru,1 stop via Hyderabad,05 h 25 m\n1 stop via Hyderabad,"₹ 7,487"
4,IndiGo,05:55,New Delhi,08:45,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,499"
5,SpiceJet,06:20,New Delhi,09:10,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,973"
6,SpiceJet,20:30,New Delhi,23:05,Bengaluru,Non stop,02 h 35 m\nNon stop,"₹ 7,973"
7,Air India,06:10,New Delhi,08:55,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 8,234"
8,Air India,07:30,New Delhi,10:30,Bengaluru,Non stop,03 h\nNon stop,"₹ 8,234"
9,IndiGo,06:10,New Delhi,12:20,Bengaluru,1 stop via Bhopal,06 h 10 m\n1 stop via Bhopal,"₹ 8,237"
10,Akasa Air,11:50,New Delhi,14:35,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 8,484"
11,IndiGo,11:45,New Delhi,14:40,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 8,580"
12,IndiGo,22:55,New Delhi,01:45,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 8,580"
13,Go First,18:40,New Delhi,21:25,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 8,683"
14,IndiGo,05:15,New Delhi,10:40,Bengaluru,1 stop via Nagpur,05 h 25 m\n1 stop via Nagpur,"₹ 8,986"
15,IndiGo,04:20,New Delhi,07:15,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 9,389"
16,IndiGo,08:00,New Delhi,11:05,Bengaluru,Non stop,03 h 05 m\nNon stop,"₹ 9,389"
17,IndiGo,10:40,New Delhi,13:30,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 9,389"
18,IndiGo,13:05,New Delhi,15:55,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 9,389"
19,IndiGo,15:40,New Delhi,18:30,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 9,389"
20,IndiGo,21:45,New Delhi,00:35,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 9,389"
21,Air India,14:55,New Delhi,18:20,Bengaluru,Non stop,03 h 25 m\nNon stop,"₹ 9,494"
22,Air India,21:10,New Delhi,00:05,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 9,494"
23,IndiGo,08:10,New Delhi,13:00,Bengaluru,1 stop via Hyderabad,04 h 50 m\n1 stop via Hyderabad,"₹ 9,736"
24,IndiGo,19:20,New Delhi,22:05,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 10,124"
25,IndiGo,20:30,New Delhi,23:25,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 10,124"
26,IndiGo,06:30,New Delhi,13:00,Bengaluru,1 stop via Hyderabad,06 h 30 m\n1 stop via Hyderabad,"₹ 10,486"
27,IndiGo,17:25,New Delhi,20:05,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 10,859"
28,Go First,17:55,New Delhi,00:25,Bengaluru,1 stop via Mumbai,06 h 30 m\n1 stop via Mumbai,"₹ 11,033"
29,Vistara,08:05,New Delhi,10:50,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 11,069"
30,Vistara,09:05,New Delhi,11:50,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 11,069"
31,Air India,09:45,New Delhi,12:30,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 11,069"
32,Vistara,14:10,New Delhi,17:00,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 11,069"
33,Vistara,16:05,New Delhi,18:50,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 11,069"
34,Air India,16:55,New Delhi,20:15,Bengaluru,Non stop,03 h 20 m\nNon stop,"₹ 11,069"
35,Vistara,19:50,New Delhi,22:40,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 11,069"
36,Vistara,20:40,New Delhi,23:20,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 11,069"
37,Go First,17:15,New Delhi,23:30,Bengaluru,1 stop via Ahmedabad,06 h 15 m\n1 stop via Ahmedabad,"₹ 11,076"
38,Vistara,17:30,New Delhi,20:25,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 13,169"
39,AirAsia,07:15,New Delhi,12:10,Bengaluru,1 stop via Lucknow,04 h 55 m\n1 stop via Lucknow,"₹ 13,226"
40,AirAsia,09:35,New Delhi,12:15,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 15,858"
41,AirAsia,16:20,New Delhi,19:05,Bengaluru,Non stop,02 h 45 m\nNon stop,"₹ 15,858"
42,AirAsia,19:05,New Delhi,21:45,Bengaluru,Non stop,02 h 40 m\nNon stop,"₹ 15,858"
43,Go First,10:45,New Delhi,15:10,Bengaluru,1 stop via Goa,04 h 25 m\n1 stop via Goa,"₹ 16,349"
44,Air India,13:30,New Delhi,16:25,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 18,345"

In [27]:
# Save file to your local system 
bang_flight1.to_csv('bang_flight1.csv')

# Ixigo.com

In [2]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"D:\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

#maximize the chrome window
driver.maximize_window() 

# MakeMyTrip.com
url="https://www.ixigo.com/search/result/flight?from=MAA&to=BOM&date=30112022&returnDate=&adults=1&children=0&infants=0&class=e&source=Search%20Form" 
driver.get(url)
driver.implicitly_wait(4)

In [10]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
for a in range(0,10):
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
    driver.implicitly_wait(2)    
    for i in driver.find_elements(By.XPATH,"//a[@class='flight-name']/div"):
        name.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='left-wing']/div[2]"):
        departure.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='left-wing']/div[4]"):
        departure_place.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='right-wing']/div[2]"):
        arrival.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='right-wing']/div[4]"):
        arrival_place.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='label br ']"):
        stop.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='price']"):
        price.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='label tl ']"):
        duration.append(i.text)
    driver.find_element(By.XPATH,"//span[@class='page-num']").click()
# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

150 150 150 150 150 150 150 150

In [11]:
# Creating DataFrame
mum_flight=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
mum_flight

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,INDIGO,11:25,Chennai,13:20,Mumbai,non-stop,1hr 55min,3400
1,INDIGO,21:05,Chennai,23:05,Mumbai,non-stop,2hr,3400
2,INDIGO,12:55,Chennai,14:50,Mumbai,non-stop,1hr 55min,3430
3,AIRASIA INDIA,12:55,Chennai,21:00,Mumbai,1 stop,8hr 5min,3570
4,AIRASIA INDIA,12:55,Chennai,00:40,Mumbai,1 stop,11hr 45min,3570
...,...,...,...,...,...,...,...,...
145,AKASA AIR,20:50,Chennai,22:50,Mumbai,non-stop,2hr,2910
146,INDIGO,22:25,Chennai,00:20,Mumbai,non-stop,1hr 55min,2914
147,AIRASIA INDIA,06:55,Chennai,21:00,Mumbai,1 stop,14hr 5min,3149
148,INDIGO,08:30,Chennai,10:20,Mumbai,non-stop,1hr 50min,3400
149,INDIGO,20:00,Chennai,21:55,Mumbai,non-stop,1hr 55min,3400

In [12]:
# Save file to your local system 
mum_flight.to_csv('mum_flight.csv')

In [13]:
name=[]
departure=[]
departure_place=[]
arrival=[]
arrival_place=[]
stop=[]
price=[]
duration=[]
for a in range(0,10):
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight);")
    driver.implicitly_wait(2)    
    for i in driver.find_elements(By.XPATH,"//a[@class='flight-name']/div"):
        name.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='left-wing']/div[2]"):
        departure.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='left-wing']/div[4]"):
        departure_place.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='right-wing']/div[2]"):
        arrival.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='right-wing']/div[4]"):
        arrival_place.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='label br ']"):
        stop.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='price']"):
        price.append(i.text)
    for i in driver.find_elements(By.XPATH,"//div[@class='label tl ']"):
        duration.append(i.text)
    driver.find_element(By.XPATH,"//span[@class='page-num']").click()
# Checking the length 
print(len(name),len(departure),len(departure_place),len(arrival),len(arrival_place),len(stop),len(price),len(duration))

150 150 150 150 150 150 150 150

In [14]:
# Creating DataFrame
mum_flight1=pd.DataFrame({'Flight_Name':name,'Departure':departure,'Departure_Place':departure_place,'Arrival':arrival,'Arrival_Destination':arrival_place,'Total_Stops':stop,'Duration':duration,'Price':price})
mum_flight1

,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,AKASA AIR,20:50,Chennai,22:50,Mumbai,non-stop,2hr,2336
1,AKASA AIR,10:30,Chennai,12:35,Mumbai,non-stop,2hr 5min,2336
2,AIR INDIA,06:10,Chennai,08:10,Mumbai,non-stop,2hr,2547
3,AIR INDIA,07:55,Chennai,10:00,Mumbai,non-stop,2hr 5min,2547
4,AIR INDIA,21:40,Chennai,23:50,Mumbai,non-stop,2hr 10min,2547
...,...,...,...,...,...,...,...,...
145,INDIGO,07:50,Chennai,14:20,Mumbai,1 stop,6hr 30min,5982
146,INDIGO,07:50,Chennai,12:05,Mumbai,1 stop,4hr 15min,6547
147,SPICEJET,19:05,Chennai,06:40,Mumbai,1 stop,11hr 35min,7303
148,SPICEJET,19:05,Chennai,23:50,Mumbai,1 stop,4hr 45min,7409
149,INDIGO,19:15,Chennai,23:25,Mumbai,1 stop,4hr 10min,7509

In [15]:
# Save file to your local system 
mum_flight1.to_csv('mum_flight1.csv')

# Mearging all the flight files for furtehr process

In [16]:
# merging all csv files
All_flights=pd.concat(map(pd.read_csv, ['bang_flight1.csv','bang_flight.csv','dhl2_flight.csv','dhl_flight.csv','goa_flight.csv','kolkata_flight.csv','bang_flight.csv','bang_flight1.csv','all_flight2.csv','mum_flight1.csv','mum_flight.csv']), ignore_index=True)

In [17]:
All_flights

,Unnamed: 0,Flight_Name,Departure,Departure_Place,Arrival,Arrival_Destination,Total_Stops,Duration,Price
0,0,IndiGo,15:10,New Delhi,00:05,Bengaluru,1 stop via Hyderabad,08 h 55 m\n1 stop via Hyderabad,"₹ 5,988"
1,1,Go First,05:45,New Delhi,08:35,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,107"
2,2,Vistara,05:35,New Delhi,08:30,Bengaluru,Non stop,02 h 55 m\nNon stop,"₹ 7,184"
3,3,IndiGo,19:45,New Delhi,01:10,Bengaluru,1 stop via Hyderabad,05 h 25 m\n1 stop via Hyderabad,"₹ 7,487"
4,4,IndiGo,05:55,New Delhi,08:45,Bengaluru,Non stop,02 h 50 m\nNon stop,"₹ 7,499"
...,...,...,...,...,...,...,...,...,...
1713,145,AKASA AIR,20:50,Chennai,22:50,Mumbai,non-stop,2hr,2910
1714,146,INDIGO,22:25,Chennai,00:20,Mumbai,non-stop,1hr 55min,2914
1715,147,AIRASIA INDIA,06:55,Chennai,21:00,Mumbai,1 stop,14hr 5min,3149
1716,148,INDIGO,08:30,Chennai,10:20,Mumbai,non-stop,1hr 50min,3400
1717,149,INDIGO,20:00,Chennai,21:55,Mumbai,non-stop,1hr 55min,3400

In [18]:
# Save file to your local system 
All_flights.to_csv('All_flights.csv')